.jumbotron
  - if user_signed_in?
    .row
      .col-lg-12
        %p
          You are already signed in. Go
          = link_to "here", dashboard_path
          or just 
          = link_to "stop", logout_path, method: :delete, class: "text-danger"

  - else
    .row
      .col-lg-12
        %h1 Git x CloudHealth

        %p.lead
          Get your CloudHealth commits so you can give updates in a very accurate and professional manner. Plus, it's more cooler.

          %p
            = link_to "/auth/github", class: "btn btn-default btn-lg" do
              %span
                = fa_icon "github"
                Use your GitHub

